# Sistema operacional
Thumbs.db
Desktop.ini
.DS_Store

# Dependências
node_modules/

# Cache local
*.db
*.sqlite

# Editor
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Reference files
Exemplo_*
